<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into smember_table(memberEmail, memberPassword, memberName, memberMobile, memberProfile, memberAddress)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{memberProfile}, #{memberAddress})
    </insert>
    <insert id="saveFile" parameterType="memberFile">
        insert into smember_file_table(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>
    <select id="findByMemberEmail" parameterType="String" resultType="member">
        select * from smember_table where memberEmail = #{memberEmail}
    </select>
    <select id="login" parameterType="member" resultType="member">
        select * from smember_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>
    <select id="findFile" parameterType="Long" resultType="memberFile" >
        select * from smember_file_table where memberId =#{memberId}
    </select>

    <select id="searchCount" parameterType="java.util.HashMap" resultType="member">
        select count(id) from ${type} where boardTitle like concat('%',#{q},'%')
    </select>
    <update id="update" parameterType="member">
        update smember_table
        set memberPassword=#{memberPassword},
            memberName=#{memberName},
            memberMobile=#{memberMobile},
            memberAddress=#{memberAddress}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="member">
        delete from smember_table where id =#{id}
    </delete>
    <select id="findById" parameterType="Long" resultType="member">
        select * from smember_table where id=(#{id})
    </select>
    <select id="findAll" resultType="member">
        select * from smember_table
    </select>
</mapper>

